<div class="flex flex-col gap-y-3 mb-10">

  <start-post class="hidden md:block"></start-post>

  <div class="flex items-center px-2 md:px-0">
    <hr class="h-px flex-grow mr-2 bg-gray-200 border-0 dark:bg-neutral-300">
    <span class="text-sm text-neutral-500 font-light">Sort By : <b class="text-black font-semibold">Top</b></span>
  </div>

  <div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
    <div *ngFor="let post of posts$ | async" class="bg-white rounded-md  mt-3" style="border: 1px solid #e9e8e5;">
      <div class="flex items-start justify-between py-2 px-4">
        <div class="flex items-center">
          <img class="h-12 w-12 rounded-full" [src]="post.profile_pic" alt="User image">

          <div class="flex flex-col ml-2">
            <p>{{post.name}} <connection-level [level]="post.connection_level"></connection-level> </p>
            <span class="text-neutral-500 text-sm relative bottom-1">{{post.bio}}</span>
            <span class="text-neutral-500 text-sm relative bottom-2">{{post.created_at}}</span>
          </div>
        </div>
        <button class="text-neutral-500">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
            class="mercado-match" width="24" height="24" focusable="false">
            <path d="M14 12a2 2 0 11-2-2 2 2 0 012 2zM4 10a2 2 0 102 2 2 2 0 00-2-2zm16 0a2 2 0 102 2 2 2 0 00-2-2z">
            </path>
          </svg>
        </button>
      </div>
      <div class="py-2 px-5">
        <p>{{post.text}}</p>
      </div>

      <div class="flex items-center justify-between py-2 px-4 text-neutral-500">
        <div class="flex">
          <div class="flex items-center">
            <img class="h-4 w-4" src="https://static.licdn.com/sc/h/8ekq8gho1ruaf8i7f86vd1ftt" alt="Like icon">
            <img class="h-4 w-4 relative right-2" src="https://static.licdn.com/sc/h/cpho5fghnpme8epox8rdcds22"
              alt="Love icon">
            <img class="h-4 w-4 relative right-4" src="https://static.licdn.com/sc/h/3wqhxqtk2l554o70ur3kessf1"
              alt="Support icon">
          </div>
          <span class="text-sm -ml-3">{{post.likes_count}}</span>
        </div>
        <div>
          <span class="text-sm mr-3">{{post.commnets_count}} comments</span>
          <span class="text-sm">{{post.reposts_count}} reposts</span>
        </div>

      </div>

      <div class=" text-neutral-500 py-2 mx-4 flex justify-between" style="border-top: 1px solid #EFEFEF;">
        <button (click)="onLikePost(post)">
          <div class="flex items-center justify-center flex-grow hover:bg-zinc-100 py-3 px-4">
            <img
              [src]="post.is_liked ? 'https://static.licdn.com/sc/h/5zhd32fqi5pxwzsz78iui643e' : '/assets/images/home/like.svg'"
              alt="Like button">
            <span class="ml-1 hidden md:block" [ngClass]="{'text-[#0a66c2] font-semibold': post.is_liked}">Like</span>
          </div>
        </button>
        <button class="flex items-center justify-center flex-grow hover:bg-zinc-100 py-3 px-4">
          <img src="/assets/images/home/comment.svg" alt="Like button">
          <span class="ml-1 hidden md:block">Comment</span>
        </button>
        <button class="flex items-center justify-center flex-grow hover:bg-zinc-100 py-3 px-4">

          <span class="ml-1 hidden md:block">Repost</span>
        </button>
        <button class="flex items-center justify-center flex-grow hover:bg-zinc-100 py-3 px-4">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
            class="mercado-match" width="24" height="24" focusable="false">
            <path d="M21 3L0 10l7.66 4.26L16 8l-6.26 8.34L14 24l7-21z"></path>
          </svg>
          <span class="ml-1 hidden md:block">Send</span>
        </button>
      </div>

    </div>
  </div>

</div>
