<div class="bg-white rounded-md shadow-md divide-y">
    <div class="flex flex-col items-center relative mb-4">
      <div class="bg-img"></div>
      <img class="mt-6 h-16 w-16  rounded-full z-10 ring-2 ring-white"
           src="/assets/images/shared/user_image.jpeg"
           alt="User image">
      <p class="mt-4 font-semibold text-lg">Karim Bourass</p>
      <p class="text-neutral-500 text-sm">Software Enginner</p>
    </div>
    <div class="py-4 px-3">
      <div class="flex items-center justify-between">
        <span class="text-neutral-500 text-sm">Who's viewed your profile</span>
        <span class="text-[#0a66c2] font-semibold text-sm">89</span>
      </div>
      <div class="mt-1 flex items-center justify-between">
        <span class="text-neutral-500 text-sm">Impressions of your post</span>
        <span class="text-[#0a66c2] font-semibold text-sm">93</span>
      </div>
    </div>
    <div class="py-4 px-3 flex items-center">
      <div class="text-neutral-500">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor"
             class="mercado-match" width="16" height="16" focusable="false">
          <path d="M13 4a3 3 0 00-3-3H3v14l5-4.5 5 4.5z"></path>
        </svg>
      </div>
      <span class="ml-2">My items</span>
    </div>
  </div>
<div class="bg-white rounded-md shadow-md mt-3 p-3 sticky top-20">
    <div>
      <span class="font-light text-sm">Recent</span>
      <div class="flex flex-col gap-y-1 text-neutral-500 mt-1">
        <div class="flex items-center text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor"
               class="mercado-match" width="16" height="16" focusable="false">
            <path
              d="M8.5 7h-1A1.5 1.5 0 006 8.5V14h4V8.5A1.5 1.5 0 008.5 7zM12.75 8h-.5A1.25 1.25 0 0011 9.25V14h3V9.25A1.25 1.25 0 0012.75 8z">
            </path>
            <circle cx="8" cy="4" r="2"></circle>
            <circle cx="12.5" cy="5.5" r="1.5"></circle>
            <path d="M3.75 8h-.5A1.25 1.25 0 002 9.25V14h3V9.25A1.25 1.25 0 003.75 8z"></path>
            <circle cx="3.5" cy="5.5" r="1.5"></circle>
          </svg>
          <span class="ml-2">Angular Lovers</span>
        </div>
        <div class="flex items-center text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor"
               class="mercado-match" width="16" height="16" focusable="false">
            <path
              d="M8.5 7h-1A1.5 1.5 0 006 8.5V14h4V8.5A1.5 1.5 0 008.5 7zM12.75 8h-.5A1.25 1.25 0 0011 9.25V14h3V9.25A1.25 1.25 0 0012.75 8z">
            </path>
            <circle cx="8" cy="4" r="2"></circle>
            <circle cx="12.5" cy="5.5" r="1.5"></circle>
            <path d="M3.75 8h-.5A1.25 1.25 0 002 9.25V14h3V9.25A1.25 1.25 0 003.75 8z"></path>
            <circle cx="3.5" cy="5.5" r="1.5"></circle>
          </svg>
          <span class="ml-2">JAVA Group</span>
        </div>
        <div class="flex items-center text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor"
               class="mercado-match" width="16" height="16" focusable="false">
            <path
              d="M8.5 7h-1A1.5 1.5 0 006 8.5V14h4V8.5A1.5 1.5 0 008.5 7zM12.75 8h-.5A1.25 1.25 0 0011 9.25V14h3V9.25A1.25 1.25 0 0012.75 8z">
            </path>
            <circle cx="8" cy="4" r="2"></circle>
            <circle cx="12.5" cy="5.5" r="1.5"></circle>
            <path d="M3.75 8h-.5A1.25 1.25 0 002 9.25V14h3V9.25A1.25 1.25 0 003.75 8z"></path>
            <circle cx="3.5" cy="5.5" r="1.5"></circle>
          </svg>
          <span class="ml-2">Nextjs</span>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <span class="text-[#0a66c2] font-semibold text-sm ">Groups</span>
      <div class="flex flex-col gap-y-1 text-neutral-500 mt-1">
        <div class="flex items-center text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor"
               class="mercado-match" width="16" height="16" focusable="false">
            <path
              d="M8.5 7h-1A1.5 1.5 0 006 8.5V14h4V8.5A1.5 1.5 0 008.5 7zM12.75 8h-.5A1.25 1.25 0 0011 9.25V14h3V9.25A1.25 1.25 0 0012.75 8z">
            </path>
            <circle cx="8" cy="4" r="2"></circle>
            <circle cx="12.5" cy="5.5" r="1.5"></circle>
            <path d="M3.75 8h-.5A1.25 1.25 0 002 9.25V14h3V9.25A1.25 1.25 0 003.75 8z"></path>
            <circle cx="3.5" cy="5.5" r="1.5"></circle>
          </svg>
          <span class="ml-2">Angular Lovers</span>
        </div>
        <div class="flex items-center text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor"
               class="mercado-match" width="16" height="16" focusable="false">
            <path
              d="M8.5 7h-1A1.5 1.5 0 006 8.5V14h4V8.5A1.5 1.5 0 008.5 7zM12.75 8h-.5A1.25 1.25 0 0011 9.25V14h3V9.25A1.25 1.25 0 0012.75 8z">
            </path>
            <circle cx="8" cy="4" r="2"></circle>
            <circle cx="12.5" cy="5.5" r="1.5"></circle>
            <path d="M3.75 8h-.5A1.25 1.25 0 002 9.25V14h3V9.25A1.25 1.25 0 003.75 8z"></path>
            <circle cx="3.5" cy="5.5" r="1.5"></circle>
          </svg>
          <span class="ml-2">JAVA Group</span>
        </div>
        <div class="flex items-center text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor"
               class="mercado-match" width="16" height="16" focusable="false">
            <path
              d="M8.5 7h-1A1.5 1.5 0 006 8.5V14h4V8.5A1.5 1.5 0 008.5 7zM12.75 8h-.5A1.25 1.25 0 0011 9.25V14h3V9.25A1.25 1.25 0 0012.75 8z">
            </path>
            <circle cx="8" cy="4" r="2"></circle>
            <circle cx="12.5" cy="5.5" r="1.5"></circle>
            <path d="M3.75 8h-.5A1.25 1.25 0 002 9.25V14h3V9.25A1.25 1.25 0 003.75 8z"></path>
            <circle cx="3.5" cy="5.5" r="1.5"></circle>
          </svg>
          <span class="ml-2">Nextjs</span>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <span class="text-[#0a66c2] font-semibold text-sm">Events</span>
    </div>

    <div class="mt-4">
      <span class="text-[#0a66c2] font-semibold text-sm">Followeed Hashtags</span>
    </div>
    <!-- <div class="mt-4">
      <p class="text-neutral-500 font-semibold text-center">Discover more</p>
    </div> -->

  </div>
