<div class="max-w-4xl lg:max-w-6xl mx-auto flex flex-col md:flex-row gap-y-3 gap-x-6 mt-5">

  <div class="bg-white h-fit md:rounded-md shadow-md w-full md:w-80 flex-wrap">
    <p class="text-lg mt-3 mx-3">Manage my network</p>
    <div class="mt-3">
      <div *ngFor="let link of job_links" class="flex text-neutral-500 px-4 py-2 hover:bg-zinc-100 cursor-pointer ">
        <img [src]="link.icon_path" alt="Connections icon">
        <span class="flex-grow ml-3 text-lg font-semibold">{{link.title}}</span>
      </div>
    </div>
  </div>


  <div class="md:flex-grow mb-20">
    <div class="bg-white p-2 md:rounded-md shadow-md">
      <div class="px-3 p-2 flex items-center justify-between">
        <span class="text-xl font-semibold">Recent job searches</span>
        <span class="text-neutral-500 ml-3 text-lg font-semibold">Clear</span>
      </div>
      <div class="divide-y">
        <div *ngFor="let item of [1,2,3]" class="px-2 py-2 flex lg:items-center flex-col lg:flex-row">
          <div class="flex-grow flex items-center">
            <div class="flex flex-col ml-3">
              <span class="font-semibold text-md">Python developer</span>
              <span class="text-sm text-neutral-500">Dubai, United Arab Emirates</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white rounded-md shadow-md mt-4">
      <div class="px-3 p-2 flex flex-col">
        <span class="text-xl font-semibold">Recommended for you</span>
        <span class="text-neutral-500">Based on your profile and search history</span>
      </div>
      <div class="px-3 p-2 divide-y">
        <div *ngFor="let item of [1,2,3,4,5]" class="flex p-2">
          <img class="h-12 w-12 rounded-full"
            src="assets/images/shared/random.jpeg"
            alt="Company Logo">
          <div class="flex-grow ml-2 flex flex-col">
            <span class="text-[#0a66c2] font-semibold text-lg">Fullstack Enginner - Morocco</span>
            <span class="text-sm">Remote Pass</span>
            <span class="text-sm text-neutral-500">Morocco (Remote)</span>
            <span class="text-sm text-neutral-500 mt-2">1 week ago</span>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="hidden lg:flex w-80 rounded-md">

    <div class="bg-white w-full h-fit rounded-md shadow-md">
      <div class="flex flex-col p-3">
        <span class="font-semibold text-lg">Open to work</span>
        <span class="text-neutral-500 text-sm">Recommended based on your activity</span>
      </div>
      <div class="flex items-center bg-[#f9fafb] px-4 py-1">
        <p class="flex-grow font-medium">Show recruiters you're open to new job opportunities</p>
        <img class="mt-6 h-16 w-16  rounded-full z-10 ring-2 ring-white"
        src="assets/images/shared/user_image.jpeg"
        alt="User image">
      </div>
      <p class="font-extralight px-3">Get better job recommendations when you are #OpenToWork - you control who sees this.</p>
      <button class="text-neutral-500 font-semibold p-3">Get started</button>
    </div>
  </div>


</div>
