<div class="bg-white w-full rounded-md" style="border: 1px solid #e9e8e5;">
  <div class="flex items-center px-4 mt-2 py-1">
    <img class="h-12 w-12 rounded-full"
      src="https://media.licdn.com/dms/image/C4E03AQGPgOM1ndeQsg/profile-displayphoto-shrink_100_100/0/1596567396773?e=1679529600&v=beta&t=rJWfCqpgCIqR_XmHyZiUAOLXreS3AOSXm00xLKrvMsY"
      alt="User image">
    <input class="flex-grow ml-2 py-3 px-4 rounded-full" type="text" placeholder="Start a post"
      style="border: 1px solid #e9e8e5;">
  </div>
  <div class="flex justify-between px-2 pb-1">
    <div class="flex items-center p-3 hover:bg-zinc-100  hover:rounded-md">
      <span class="text-[#378fe9]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
          class="mercado-match" width="24" height="24" focusable="false">
          <path
            d="M19 4H5a3 3 0 00-3 3v10a3 3 0 003 3h14a3 3 0 003-3V7a3 3 0 00-3-3zm1 13a1 1 0 01-.29.71L16 14l-2 2-6-6-4 4V7a1 1 0 011-1h14a1 1 0 011 1zm-2-7a2 2 0 11-2-2 2 2 0 012 2z">
          </path>
        </svg>
      </span>
      <span class="ml-3 text-neutral-500">Photo</span>
    </div>
    <div class="flex items-center hover:bg-zinc-100 p-3 hover:rounded-md">
      <span class="text-[#5f9b41]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
          class="mercado-match" width="24" height="24" focusable="false">
          <path d="M19 4H5a3 3 0 00-3 3v10a3 3 0 003 3h14a3 3 0 003-3V7a3 3 0 00-3-3zm-9 12V8l6 4z"></path>
        </svg>
      </span>
      <span class="ml-3 text-neutral-500">Video</span>
    </div>
    <div class="flex items-center hover:bg-zinc-100 p-3 hover:rounded-md">
      <span class="text-[#a872e8]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
          class="mercado-match" width="24" height="24" focusable="false">
          <path
            d="M17 6V5a3 3 0 00-3-3h-4a3 3 0 00-3 3v1H2v4a3 3 0 003 3h14a3 3 0 003-3V6zM9 5a1 1 0 011-1h4a1 1 0 011 1v1H9zm10 9a4 4 0 003-1.38V17a3 3 0 01-3 3H5a3 3 0 01-3-3v-4.38A4 4 0 005 14z">
          </path>
        </svg>
      </span>
      <span class="ml-3 text-neutral-500">Job</span>
    </div>
    <div class="flex items-center hover:bg-zinc-100 p-3 hover:rounded-md">
      <span class="text-[#e16744]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
          class="mercado-match" width="24" height="24" focusable="false">
          <path d="M21 3v2H3V3zm-6 6h6V7h-6zm0 4h6v-2h-6zm0 4h6v-2h-6zM3 21h18v-2H3zM13 7H3v10h10z"></path>
        </svg>
      </span>
      <span class="ml-3 text-neutral-500">Write article</span>
    </div>
  </div>
</div>
